*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: lightgoldenrodyellow;
}
nav{
    text-align: center;
    background-color: lightpink; 
    border-bottom: solid;
    border-width: .5em;
    border-color: rgb(70, 2, 70);
    margin-bottom: 3em;
}

nav li{
    display: inline-block;
    width: 12em;
    margin-right: 5em;
    margin-left: 5em;
    padding: 0.75em;
    background-color: lightblue;
    border-left: solid;
    border-right: solid;
    border-width: .75em;
    border-color: rgb(70, 2, 70);
    font-size: larger;
    text-decoration: none;
    color: gainsboro;
}

nav li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 150%;
    align-self: center;
}

h2, h1{
    font-size: 200%;
    text-decoration: underline;
}

.item1{
    grid-area: header;
}
.item2{
    grid-area: banner;
}
.item3{
    grid-area: about;
}
.item4{
    grid-area: header_two;
}
.item5{
    grid-area: vidone;
}
.item6{
    grid-area: vidtwo;
}
.item7{
    grid-area: vidthree;
}

.wrapper {
    text-align: center;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 4em;
    grid-template-areas:
    'header header header'
    'banner banner banner'
    'about about about'
    'header_two header_two header_two'
    'vidone vidtwo vidthree';
}

iframe{
    border: solid;
    border-width: 1em;
    border-color: rgb(70, 2, 70);
}

@media only screen and (max-width:1180px) {
    nav li{
        border-width: .5em;
        border-top: solid  rgb(70, 2, 70);
    }
    img{
        max-width: 100%;
        height: auto;
    }
    iframe{
        max-width: 100%;
    }
    .wrapper {
        text-align: center;
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        grid-gap: 4em;
        grid-template-areas:
        'header header header'
        'banner banner banner'
        'about about about'
        'header_two header_two header_two'
        'vidone vidone vidone'
        'vidtwo vidtwo vidtwo'
        'vidthree vidthree vidthree';
    }
}