*{
    margin: 0;
    padding: 0;
}

#calculator{
    width: 30em;
    margin-top: 16em;
    margin-left: auto;
    margin-right: auto;
}

#screen{
    width: 387px;
    padding: 10px;

    font-size: 1.2em;
    font-weight: 1.2em;
    
    border: 3px solid black;
}

button{
    width: 100px;
    height: 50px;
}
button:hover{
    color: darkgrey;
}